body{
  font-size: 62.5%;
}
img{
  display: block;
}

@keyframes icoMove{
  from{
    margin: .24rem 6.215rem 0;
    width: 2.57rem;
    height: .94rem;
  }
  to{
    width: 2.056rem;
    height: .752rem;
    margin: 0 0 0 0.3rem;
  }
}
@keyframes icoGoBack{
  from{
    width: 2.056rem;
    height: .752rem;
    margin: 0 0 0 0.3rem;
  }
  to{
    margin: .24rem 6.215rem 0;
    width: 2.57rem;
    height: .94rem;
  }
}
@keyframes bottomMove{
  from{
    width: 100%;
    margin-right: 0;
  }
  to{
    width: 80%;
    margin-right: .3rem;
  }
}
@keyframes bottomGoBack{
  from{
    width: 80%;
    margin-right: .3rem;
  }
  to{
    width: 100%;
    margin-right: 0rem;
  }
}
.iconMove{
  animation: icoMove 0.1s linear forwards;
}
.icoGoBack{
  animation: icoGoBack 0.1s linear forwards;
}
.bottomMove{
  animation: bottomMove 0.1s linear forwards;
}
.bottomGoBack{
  animation: bottomGoBack 0.1s linear forwards;
}


.header{
  width: 100%;
  background-color: #ffffff;
}
.header .top{
  width: 100%;
  height: .35rem;
  background-color: rgb(129, 39, 65);
}
.header .top .lable{
  float: right;
  height: 100%;
  font-size: .18rem;
  color: #ffffff;
  text-align: center;
  line-height: .35rem;
}
.header .top .products{
  margin: 0 .3rem 0 .5rem;
}
.header .content{
  width: 100%;
  background-color: #ffffff;
  position: relative;
  border-bottom: 1px solid #e9e9e9;
}
.header .icoImg{
  float: left;
  margin: .24rem 6.215rem 0;
  width: 2.57rem;
  height: .94rem;
}
.header .bottom{
  float: right;
  width: 100%;
  height: .8rem;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
}
.header .bottom .left{
  width: 10rem;
  height: 100%;
  display: flex;
}
.header .bottom .left li{
  flex: 1;
  height: 100%;
}
.header .bottom .left li a{
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: .8rem;
  font-size: .24rem;
  color: #0a0a0a;
}
.header .bottom .left li .msgBox{
  display: none;
  position: absolute;
  top: 1.98rem;
  left: 0;
  width: 15rem;
  height: 5.2rem;
  background-color: rgba(0, 0, 0, .6);
  color: #ffffff;
}
.header .bottom .left li a:hover{
  background-color: #000000;
  color: #ffffff;
  text-decoration: none;
}
/*.header .bottom .left li:hover .msgBox{
  display: block;
  z-index: 9999;
}*/

.header .bottom .right{
  width: 4.2rem;
  height: 100%;
}
.header .bottom .seach{
  margin-top: .225rem;
  width: 3.72rem;
  height: .35rem;
  border: 1px solid #0a0a0a;
  border-radius: .05rem;
  display: flex;
  justify-content: flex-start;
}
.header .bottom .seach .ico{
  margin: .04rem 0.1rem 0 .06rem;
  width: .26rem;
  height: .26rem;
}
.header .bottom .seach input{
  font-family: '宋体';
  border: none;
  width: 3.2rem;
  font-size: .16rem;
}

.banner{
  width: 100%;
  display: flex;
  justify-content: center;
}
.banner img{
  width: 14.46rem;
  height: 5.5rem;
}
.brandInfo{
  margin-top: .6rem;
  width: 100%;
  display: flex;
  justify-content: center;
}
.brandInfo img{
  width: 3.14rem;
  height: 4.1rem;
}
.brandInfo .msg{
  margin-left: .77rem;
  width: 3.08rem;
}
.brandInfo .msg img{
  width: 100%;
  height: 1rem;
  display: block;
}
.brandInfo .msg p{
  margin: .6rem auto 0;
  width: 2.4rem;
  font-size: .12rem;
  color: #000000;
  line-height: .2rem;
}
.introduce{
  margin-top: 1.46rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.introduce img{
  width: 5.64rem;
  height: 1rem;
}
.introduce p{
  margin-top: .37rem;
  width: 5.64rem;
  font-size: .12rem;
  color: #000000;
  text-align: center;
}
.introduce1{
  margin: 0.6rem auto 0;
  width: 8.45rem;
  height: 2.9rem;
  background-image: url('../images/barandStory5.png');
  background-repeat: no-repeat;
  background-size: 100%;
}
.introduce1 .msgInfo{
  margin-top: .4rem;
  margin-left: .6rem;
  width: 2.7rem;
}
.introduce1 .msgInfo h3{
  width: 100%;
  text-align: center;
  font-size: .22rem;
  color: #000000;
}
.introduce1 .msgInfo .line{
  margin: .15rem auto 0;
  width: .86rem;
  height: .02rem;
  background-color: #333333;
}
.introduce1 .msgInfo p{
  margin-top: .22rem;
  width: 100%;
  font-size: .012rem;
  color: #000000;
}
.bottomIntroduce{
  margin: .2rem auto 1.32rem;
  width: 8.1rem;
  display: flex;
  justify-content: space-between;
}
.bottomIntroduce .left{
  width: 5.04rem;
}
.bottomIntroduce .left .top{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.bottomIntroduce .left .top .img1{
  width: 2.1rem;
  height: 2.1rem;
}
.bottomIntroduce .left .top .imgBox{
  width: 2.85rem;
}
.bottomIntroduce .left .top .imgBox img{
  width: 2.85rem;
  height: 1.01rem;
}
.bottomIntroduce .left .top .imgBox img:first-child{
  margin-bottom: .08rem;
}
.bottomIntroduce .left .bottom{
  margin-top: .34rem;
  width: 100%;
}
.bottomIntroduce .left .bottom h3{
  width: 100%;
  text-align: center;
  font-size: .22rem;
  color: #000000;
}
.bottomIntroduce .left .bottom .line{
  margin: .15rem auto 0;
  width: .86rem;
  height: .02rem;
  background-color: #333333;
}
.bottomIntroduce .left .bottom p{
  margin-top: .2rem;
  width: 100%;
  font-size: .012rem;
  color: #000000;
}



.bottomIntroduce .right{
  width: 2.95rem;
  height: 3.6rem;
}
.bottomIntroduce .right img{
  width: 2.95rem;
  height: 3.6rem;
}


.lineBottom{
  width: 100%;
  height: .4rem;
  background-color: #e9e9e9;
}
.lineBottom .item{
  margin-right: .52rem;
  float: left;
  height: .4rem;
  line-height: .4rem;
  font-size: .14rem;
}
.lineBottom .item:first-child{
  margin-left: 1.76rem;
}
.bottomMsg{
  padding: 0 .35rem;
  width: 100%;
  height: 1.8rem;
  display: flex;
  justify-content: space-between;
}
.bottomMsg .left{
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bottomMsg .left .logo{
  width: .96rem;
  height: .96rem;
  border-radius: 50%;
}
.bottomMsg .left ul{
  margin-left: .6rem;
  color: #777777;
}
.bottomMsg .left ul li{
  font-size: .16rem;
}

.bottomMsg .right{
  width: 2.6rem;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bottomMsg .right .item{
  width: 1.1rem;
}
.bottomMsg .right .item .img{
  width: 1.1rem;
  height: 1.1rem;
}
.bottomMsg .right .item h3{
  width: 100%;
  text-align: center;
  line-height: .4rem;
  font-size: .14rem;
  color: #838383;
}
.footer{
  width: 100%;
  height: .72rem;
  background-color: #000000;
  display: flex;
  justify-content: flex-start;
}
.footer .lable{
  margin-right: .37rem;
  line-height: .72rem;
  font-size: .14rem;
  color: #757575;
}
.footer .lable:first-child{
  margin-left: 1.73rem;
}
